/* #confirmDiv{
    height: 100vh;
    display: flex;  
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; } */

.emailcheck__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#confirmationButton{
    width: 100%;
}