.organize{
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

.subtitle{
    max-width: 500px;
    font-size: 32px;
    text-align: center;
    font-family: Bradley Hand, cursive;
    color: #00485f;  
    text-shadow: 2px 2px #ffffff;
    font-weight: bold;
}

.title{
    margin: 0 auto;
    text-align: center;
}