.container{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--twitter-background);
}

.container:hover{
    background-color: #e8f5fe;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}