.header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
    display: flex;
}

#editButton{
    background-color: var(--twitter-color);
    border: none !important;
    color: white !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 90px;
    height: auto !important;
    margin-left: auto;

}

#link{
    margin-left: auto;

}

#editButton:hover{
    background-color: #2990af;
}

.profile_body{
    padding: 15px 20px;
    font-size: 50px;
}

.profile_body > h2{
    font-weight: 700;
    font-size: 20px;
}

.profile_body > h3{
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
}

.main_div{
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
}