.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0,72,95,0.45), transparent 90%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    -webkit-box-shadow: -6px 9.5px 32px -10px #00485f;
    -moz-box-shadow: -6px 9.5px 32px -10px #00485f;
    box-shadow: -6px 9.5px 32px -10px #00485f;
}

.sidebarOption:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;

}

.sidebarOption > .MuiSvgIcon-root{
    padding: 20px;
}

.sidebarOption > h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption--active{
    color: var(--twitter-color);
}