.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
    background: rgba(0, 191, 255, 0.78);
    background: -webkit-linear-gradient(101deg, rgba(0, 191, 255, 0.78) 0%, #b0d7ff 100%);
    background: linear-gradient(101deg, rgba(0, 191, 255, 0.78) 0%, #b0d7ff 100%);
    -webkit-box-shadow: -6px 9.5px 32px -10px #00485f;
    -moz-box-shadow: -6px 9.5px 32px -10px #00485f;
    box-shadow: -6px 9.5px 32px -10px #00485f;
}

.sidebarOption:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;

}

.sidebarOption > .MuiSvgIcon-root{
    padding: 20px;
}

.sidebarOption > h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption--active{
    color: var(--twitter-color);
}