body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(176, 215, 255, 0.11);
  background: -webkit-linear-gradient(218deg, rgba(176, 215, 255, 0.11) 0%, #b0d7ff 50%, rgba(0, 71, 94, 0.51) 100%);
  background: linear-gradient(218deg, rgba(176, 215, 255, 0.11) 0%, #b0d7ff 50%, rgba(0, 71, 94, 0.51) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
